// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$red: #bc4749;
$light-yellow: #F0CD54;
$dark-yellow: #FBB718;
$orange: #E67E22;
$sage: #023f3a82;
$light-green: #84cba3;
$medium-green: #108A63;
$dark-green: #023F3A;
$gray: #0E0000;
$light-gray: #F4F4F4;
$font-grey: #525560;
